<div class="jumbotron jumbotron-fluid">
    <div class="container py-2 px-5">

        <div class="text-center py-2">
            <h3 class="display-4">Rock Web App</h3>
            <img class="text-center" src="../../../assets/img/logo.png" alt="" width="200px">
        </div>

        <p class="lead text-justify"> RockSpa es una practica realizada con Angular 7, muestra la informacion de algunos albums de bandas iconicas del Rock. Para este ejemplo se aplicaron el uso de componentes, interfaces, servicios, decoradores, pipes.
        </p>
    </div>
</div>